@{
    ViewData["Title"] = "Home Page";
    List<DoctorModel> doctorsList = ViewBag.Doctors;
    int departmentCount = ViewBag.Departments;
    int doctorsCount = doctorsList.Count()-1;
    int appointmentCount = ViewBag.Appointments;
    int usersCount = ViewBag.Users;
}
<!-- home section starts  -->

<section class="home" id="home">

    <div class="image">
        <a href="Index"><img src="/images/home-img.svg" alt=""></a>
    </div>

    <div class="content">
        <h3>stay safe, stay healthy</h3>
        <p>Welcome to HMS</p>
        <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span> </a>
    </div>

</section>

<!-- home section ends -->
<!-- icons section starts  -->
<h1 class="heading"> our <span>records</span> </h1>
<section class="icons-container">
    
    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>@doctorsCount +</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>@usersCount +</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>@appointmentCount +</h3>
        <p>appointments</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>@departmentCount +</h3>
        <p>departments</p>
    </div>

</section>
<!-- doctors section starts  -->

<section class="doctors" id="doctors">

    <h1 class="heading"> our <span>doctors</span> </h1>

    <div class="box-container">
        @foreach (var item in doctorsList)
        {
            <div class="box">

                <h3>Dr. @item.Name</h3>
                <span>@item.DepartmentName</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

        }
    </div>
</section>

<!-- doctors section ends -->
