@{
    ViewData["Title"] = "Home Page";
}
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="container-fluid mt-5 d-block w-100" src="https://thumbs.dreamstime.com/b/doctor-woan-holding-hospital-background-horizontal-banner-woman-stethoscope-200769311.jpg" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img class="mt-5 d-block w-100"src="https://mimanihospital.com/wp-content/uploads/2017/03/abt-banner.jpg" height="500" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://uxwing.com/wp-content/themes/uxwing/download/03-editing-user-action/new-registration.png" width="50" height="50">
            </div>
            
            <h3>Register</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://thumbs.dreamstime.com/b/doctor-appointment-icon-flat-style-vector-eps-154808882.jpg" width="50" height="50"/>
            </div>
            <h3>Book Appointment</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn0.iconfinder.com/data/icons/medical-health-care-blue-series-set-1/64/a-12-512.png" width="50" height="50"/>
            </div>
            <h3>Visit Doctor</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
